* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9; /* this makes the app left use up 90% of the container*/
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__headerFilter {
  width: 130px;
}

@media screen and (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
